In [1]:
import pandas as pd
import numpy as np

In [6]:
credits=pd.read_csv('credits.csv')
movies=pd.read_csv('movies_metadata.csv', on_bad_lines='skip') # Skip lines with errors
keywords=pd.read_csv('keywords.csv')

C:\Users\Hp\AppData\Local\Temp\ipykernel_10780\730228170.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('movies_metadata.csv', on_bad_lines='skip') # Skip lines with errors

In [7]:
credits.shape

(45476, 3)

In [8]:
movies.shape

(45466, 24)

In [9]:
keywords.shape

(46419, 2)

In [10]:
credits.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [11]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [12]:
keywords.columns

Index(['id', 'keywords'], dtype='object')

In [13]:
credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [14]:
movies.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [15]:
keywords.isnull().sum()

id          0
keywords    0
dtype: int64

In [16]:
movies_md=movies[movies['vote_count']>=55]

In [17]:
movies_md.shape

(8636, 24)

In [18]:
#seleceting only required col

movies_md=movies_md[['id','original_title','overview','genres']]

In [19]:
#creating duplicate col
#copy is used to copy datafrom old col to new col

movies_md['title']=movies_md['original_title'].copy()

In [20]:
movies_md.head()

,id,original_title,overview,genres,title
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II
5,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Heat

In [21]:
#reseting index

movies_md.reset_index(drop=True,inplace=True)

In [22]:
movies_md.head()

,id,original_title,overview,genres,title
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Heat

In [23]:
#seleceting only required col

credits=credits[['id','cast']]

In [24]:
credits.head()

      id                                               cast
0    862  [{'cast_id': 14, 'character': 'Woody (voice)',...
1   8844  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  15602  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  31357  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  11862  [{'cast_id': 1, 'character': 'George Banks', '...

In [25]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      45476 non-null  int64
 1   cast    45476 non-null  object
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [26]:
movies_md.isnull().sum()

id                 0
original_title     0
overview          33
genres             0
title              0
dtype: int64

In [27]:
movies_md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8636 entries, 0 to 8635
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8636 non-null   object
 1   original_title  8636 non-null   object
 2   overview        8603 non-null   object
 3   genres          8636 non-null   object
 4   title           8636 non-null   object
dtypes: object(5)
memory usage: 337.5+ KB

In [28]:
#converting dtype from object to int

movies_md['id']=movies_md['id'].astype('int')

In [29]:
movies_md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8636 entries, 0 to 8635
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8636 non-null   int32
 1   original_title  8636 non-null   object
 2   overview        8603 non-null   object
 3   genres          8636 non-null   object
 4   title           8636 non-null   object
dtypes: int32(1), object(4)
memory usage: 303.7+ KB

In [30]:
#merging keywords and movies_md dataset
df=pd.merge(movies_md,keywords,on='id',how='left')

In [31]:
#reseting index

df.reset_index(drop=True,inplace=True)

In [32]:
df.head()

,id,original_title,overview,genres,title,keywords
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Heat,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."

In [33]:
#reading a single col
df.genres

0       [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3                          [{'id': 35, 'name': 'Comedy'}]
4       [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
                              ...
8732                       [{'id': 35, 'name': 'Comedy'}]
8733                       [{'id': 35, 'name': 'Comedy'}]
8734    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8735    [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
8736                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, Length: 8737, dtype: object

In [34]:
# for getting name from geners col
df['genres']=df['genres'].apply(lambda x:[i['name'] for i in eval(x)])

In [35]:
df['genres']

0                [Animation, Comedy, Family]
1               [Adventure, Fantasy, Family]
2                          [Romance, Comedy]
3                                   [Comedy]
4           [Action, Crime, Drama, Thriller]
                        ...
8732                                [Comedy]
8733                                [Comedy]
8734           [Action, Adventure, Thriller]
8735    [Family, Animation, Romance, Comedy]
8736                                [Comedy]
Name: genres, Length: 8737, dtype: object

In [36]:
#converting spaces into string

df['genres']=df['genres'].apply(lambda x:[i.replace(' ','') for i in x])

In [37]:
df['genres']

0                [Animation, Comedy, Family]
1               [Adventure, Fantasy, Family]
2                          [Romance, Comedy]
3                                   [Comedy]
4           [Action, Crime, Drama, Thriller]
                        ...
8732                                [Comedy]
8733                                [Comedy]
8734           [Action, Adventure, Thriller]
8735    [Family, Animation, Romance, Comedy]
8736                                [Comedy]
Name: genres, Length: 8737, dtype: object

In [38]:
#num values in keywords data fill it  with list

df['keywords'].fillna('[]',inplace=True)

In [39]:
df.iloc[0]['keywords']

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [40]:
# for getting name from keywords col
df['keywords']=df['keywords'].apply(lambda x:[i['name'] for i in eval(x)])

In [41]:
df['keywords']

0       [jealousy, toy, boy, friendship, friends, riva...
1       [board game, disappearance, based on children'...
2       [fishing, best friend, duringcreditsstinger, o...
3       [baby, midlife crisis, confidence, aging, daug...
4       [robbery, detective, bank, obsession, chase, s...
                              ...
8732                                                   []
8733            [nazis, castle, time travel, robespierre]
8734                                           [suspense]
8735                        [love, teenager, lgbt, short]
8736                                    [military school]
Name: keywords, Length: 8737, dtype: object

In [42]:
#joining keywords

df['keywords']=df['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
df['keywords']

0       [jealousy, toy, boy, friendship, friends, riva...
1       [boardgame, disappearance, basedonchildren'sbo...
2       [fishing, bestfriend, duringcreditsstinger, ol...
3       [baby, midlifecrisis, confidence, aging, daugh...
4       [robbery, detective, bank, obsession, chase, s...
                              ...
8732                                                   []
8733             [nazis, castle, timetravel, robespierre]
8734                                           [suspense]
8735                        [love, teenager, lgbt, short]
8736                                     [militaryschool]
Name: keywords, Length: 8737, dtype: object

In [43]:
df.columns

Index(['id', 'original_title', 'overview', 'genres', 'title', 'keywords'], dtype='object')

In [44]:
#merging  df and credits
df=pd.merge(credits,df,on='id',how='left')

In [45]:
df

,id,cast,original_title,overview,genres,title,keywords
0,862,"[{'cast_id': 14, 'character': 'Woody (voice)',...",Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]",Toy Story,"[jealousy, toy, boy, friendship, friends, riva..."
1,8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]",Jumanji,"[boardgame, disappearance, basedonchildren'sbo..."
2,15602,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]",Grumpier Old Men,"[fishing, bestfriend, duringcreditsstinger, ol..."
3,31357,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...",NaN,NaN,NaN,NaN,NaN
4,11862,"[{'cast_id': 1, 'character': 'George Banks', '...",Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy],Father of the Bride Part II,"[baby, midlifecrisis, confidence, aging, daugh..."
...,...,...,...,...,...,...,...
45604,439050,"[{'cast_id': 0, 'character': '', 'credit_id': ...",NaN,NaN,NaN,NaN,NaN
45605,111109,"[{'cast_id': 1002, 'character': 'Sister Angela...",NaN,NaN,NaN,NaN,NaN
45606,67758,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...",NaN,NaN,NaN,NaN,NaN
45607,227506,"[{'cast_id': 2, 'character': '', 'credit_id': ...",NaN,NaN,NaN,NaN,NaN
45608,461257,[],NaN,NaN,NaN,NaN,NaN

In [46]:
#reseting index

df.reset_index(inplace=True,drop=True)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45609 entries, 0 to 45608
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              45609 non-null  int64
 1   cast            45609 non-null  object
 2   original_title  8770 non-null   object
 3   overview        8735 non-null   object
 4   genres          8770 non-null   object
 5   title           8770 non-null   object
 6   keywords        8770 non-null   object
dtypes: int64(1), object(6)
memory usage: 2.4+ MB

In [51]:
# Function to convert lists to strings
def list_to_string(x):
    if isinstance(x, list):
        return ', '.join(x)  # Join list elements with a comma
    return str(x)  # Convert to string if it's not a list

# Apply the function to each relevant column
df['tags'] = (
    df['overview'].apply(list_to_string) + ' ' +
    df['genres'].apply(list_to_string) + ' ' +
    df['original_title'].apply(list_to_string) + ' ' +
    df['keywords'].apply(list_to_string) + ' ' +
    df['cast'].apply(list_to_string)
)

print(df['tags'])

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        nan nan nan nan [{'cast_id': 1, 'character': "...
4        Just when George Banks has recovered from his ...
                               ...
45604    nan nan nan nan [{'cast_id': 0, 'character': '...
45605    nan nan nan nan [{'cast_id': 1002, 'character'...
45606    nan nan nan nan [{'cast_id': 6, 'character': '...
45607    nan nan nan nan [{'cast_id': 2, 'character': '...
45608                                   nan nan nan nan []
Name: tags, Length: 45609, dtype: object

In [52]:
#creating new col tags
df['tags'] = df['overview'].astype(str) + ' ' + \
             df['genres'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x) + ' ' + \
             df['original_title'].astype(str) + ' ' + \
             df['keywords'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x) + ' ' + \
             df['cast'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

In [53]:
df['tags'].iloc[0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. Animation Comedy Family Toy Story jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife [{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"